html {
  font-size: 1rem;
}

@font-face {
  font-family: "Atkinson";
  src: url("./Atkinson-Hyperlegible-Regular-102.ttf") format("truetype");
}

body {
  background-color: #eff3f9;
  padding: 0 5%;
}

body,
strong,
h1,
h2,
h3,
p,
li {
  color: rgb(3, 3, 22);
  font-family: "Atkinson", arial, sans-serif;
}


a:hover {
  background-color: yellow;
  color: #000;
}

a:visited {
  color: blue;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

a,
p,
li,
div {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

li,
div {
  padding: 8px;
}

.invite-1 {
  color: #5c00f2;
}

.invite-2 {
  color: #cf0258;
}

.emphase {
background-color: #25d9cc45;
font-size: 1.25rem;
  line-height: 1.5rem;
}

.bloc-emphase {
  padding: 8px 24px;
  border-radius: 16px;

margin: 24px 0px;
background-color: #25d9cc45;
}

.title-emphase {
  margin: 16px 0px;
}

.img_article {
  width: 50%;
}

nav {
  padding: 24px 0px 24px 0px;
}

article {
  margin: 80px 0px 80px 0px;

}

@media print {
  * {
    display: none;
  }

  html,
  body,
  article,
  #checklist_rex_musee,
  #checklist_rex_musee * {
    display: block;
  }

  #checklist_rex_musee > a {
    display: none;
  }

  #checklist_rex_musee input,
  #checklist_rex_musee label {
    display: inline-block;
  }
}

footer {
  margin-top: 4rem
}

