html {
  font-size: 1rem;
  --primary: #;
  --primary-lighter: #fefcff;
  --primary-darker: #623b74;
  --content: #313949;
  --secondary: #2e6468;

  --citation: "georgia";

  --bold: 700;
  --regular: 400;

  --text-base: 1rem;
  --text-m: 2rem;
  --text-l: 2.5rem;
  --text-xl: 3rem;
  --text-xxl: 3.5rem;

  --font-line-base: 1.75rem;
}

@font-face {
  font-family: "Atkinson", "arial", sans-serif;
  src: url("./typo/Atkinson-Hyperlegible-Regular-102.woff") format("truetype");
  src: url("./typo/Atkinson-Hyperlegible-Bold-102.woff") format("truetype");
  src: url("./typo/Atkinson-Hyperlegible-Italic-102.woff") format("truetype");
}

body {
  margin-top: 40px;
  margin-left: 120px;
  width: 60%;
}

@media (max-width: 480px) {
  body {
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
    width: 100%;
  }
}

body,
strong,
h1,
h2,
h3,
p,
li, 
details {
  font-family: "Atkinson", "arial", sans-serif;
}

.icon {
  width: 1rem;
  padding-left: 0.25rem;
}

.back-link {
  margin-top: 2rem;
  display: flex;
  align-items: center;
}

/**header {

  display: flex;
  flex-direction: row;
  justify-content: space-between;

}*/

.nav-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-link-li {
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: var(--content);
  font-weight: var(--bold);
  font-size: var(--text-m);
}

.li-no-dash {
  list-style: none;
}

/**pragraphes*/

p,
li,
q,
label,
blockquote,
details {
  color: var(--content);
  font-size: var(--text-base);
  line-height: var(--font-line-base);
}

/**link*/

a {
  text-decoration: none;
  color: var(--primary-darker);
  font-weight: var(--bold);
  font-size: var(--text-base);
}

.a-icon {
  display: flex;
  align-items: center;
}

a:hover {
  /**background-color: var(--primary-darker);
  color: var(--primary-lighter);**/
  text-decoration: underline dotted;
}

.article-link {
  font-size: var(--text-m);
  font-weight: var(--bold);
}


.a-emphase-bloc,
.button {
  background-color: var(--primary-darker);
  color: var(--primary-lighter);

  padding: 1rem;

  display: inline-block;
}

.a-emphase {
  color: var(--primary-lighter);
}

fieldset {
  border: none;
}
/**li {
  display: flex;
  flex-direction: column;
}

/*liste nav*/

.ul-nav {
  padding: 0;
}

.li-nav {
  padding-bottom: 24px;
  list-style: none;
  list-style-position: inside;

  display: flex;
  flex-direction: column;
}

/*list*/

ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/*section*/

#title {
  color: var(--primary-darker);
  font-size: var(--text-xxl);
}

#article-title {
  color: var(--secondary);
  font-size: var(--text-xl);
}


.section-intro {
  color: var(--content);
  font-size: var(--text-m);
  font-weight: var(--bold);
}

.section-article {
  margin-top: 4rem;
}

.section-title {
  color: var(--content);
  font-size: var(--text-xl);
}


.section-subtitle {
  color: var(--content);
  font-size: var(--text-l);
}

.para-title {
  color: var(--secondary);
  font-size: var(--text-m);
  margin-top: 2rem;
}

.para-subtitle {
  color: var(--primary-darker);
  font-size: var(--text-base);
  font-weight: var(--bold);
}



q,
blockquote {
  color: var(--primary-darker);
  quotes: "« " " »" "‹" "›";

  font-family: "Georgia", serif;
  font-size: var(--text-base);
}

cite {
  font-style: italic;
}
/**
.section {
border: solid var(--content);
border-radius: 1rem;


margin-top: 40px;

}
**/
.section-inverse {
  border-radius: 1rem;
  background-color: var(--primary-darker);

  padding: 1rem 2rem;

  margin-top: 40px;

  color: var(--primary-lighter);
}

/*Podcast*/

.invite-1 {
  color: #5c00f2;
}

.invite-2 {
  color: #cf0258;
}

em {
  /**background-color: var(--secondary);**/
  color: var(--content);
  font-weight: var(--bold);
  font-style: normal;
}

.section-emphase {
  border: solid 2px var(--primary-darker);
  padding: 1rem 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.bloc-emphase {
  padding: 8px 24px;
  border-radius: 16px;

  margin: 24px 0px;
  background-color: var(--secondary);
}

.title-emphase {
  margin: 16px 0px;
}

.img_article {
  width: 50%;
}

img {
  max-width: 100%;
  height: auto;
}

nav {
  padding: 24px 0px 24px 0px;
}

/**
article {
  margin: 80px 0px 80px 0px;

}

**/

@media print {
  * {
    display: none;
  }

  html,
  body,
  article,
  #checklist_rex_musee,
  #checklist_rex_musee * {
    display: block;
  }

  #checklist_rex_musee > a {
    display: none;
  }

  #checklist_rex_musee input,
  #checklist_rex_musee label {
    display: inline-block;
  }
}

footer {
  margin-top: 2rem;
  font-size: var(--text-base);
}
